@charset "UTF-8";
/**
em HTML é id    = em CSS é # (só pode um elemento)
em HTML é class = em CSS é . (pode vários elementos)
**/

body {
    background-color: rgb(205, 255, 205);
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal {
    color: blue;
    text-align: center;
    background-color: rgb(221, 218, 17);
}
h1 {
    color:  rgb(5, 109, 5);
}
h2 {
    color: rgb(58, 63, 58) ;
}
.basico {
    color: rgb(100, 17, 49);
}
.intermediário {
    color: rgb(206, 37, 37);
}
.avançado {
    color: rgb(240, 41, 41);
}
.destaque {
    background-color: chartreuse;
}