@charset "UTF-8";

*  {
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #3A0CF5, #403EF0, #3E74F0, #3EACF0);
 
}
main {
    background-color: white;
    border-radius: 30px;
    box-shadow: 20px 20px 20px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #17E004;
    text-align: center;
    text-shadow: 1px 1px 1px yellowgreen;
}
H2 {
    color: #17E004;

}
p {
    text-align: justify;
    color: #6204E0;
}